* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7fb;
  background: url('./images/preview-2410116Uc3iEXx9_0008.jpg') no-repeat center center;
  background-size: cover;
  padding: 20px;
}


.container-box {
  width: 400px;
  background-color: #1b2651;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgb(192, 192, 255);
  text-align: center;
}


.container-box h1 {
  margin-bottom: 25px;
  color: #ffffff;
}


label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: #ffffff;
}


.container-box input {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}


.container-box input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}


.error {
  color: rgb(233, 0, 0);
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}


.container-box button {
  width: 100%;
  padding: 10px;
  background-color: #006503;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition:0.3s;
}


.container-box button:not(:disabled):hover {
  background-color: #006805;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.container-box button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
  box-shadow: none;
}


@media (max-width: 450px) {
  .container-box {
    width: 100%;
    padding: 20px;
  }

  label {
    text-align: left; 
  }
}
